/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****Header***/
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.menu a {
  text-align: right;
  margin-left: 50px;
}

.menu a:hover {
  border-top: 3px solid #0065fc;
  padding-top: 7.5px;
  margin-top: -7.5px;
}

.infos {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}

.logo {
  width: 61.09px;
  height: auto;
}

/** Recherche**/
.recherche {
  display: flex;
  gap: 0px;
}

.recherche-icone {
  border-radius: 10px 0px 0px 10px;
  padding: 10px;
  background-color: var(--main-bg-color);
  padding-right: 20px;
  padding-left: 20px;
}

.recherche-texte {
  font-weight: bold;
  border-top: 2px var(--main-bg-color) solid;
  border-bottom: 2px var(--main-bg-color) solid;
  padding: 10px;
  border-left: 0px;
  border-right: 0px;
  outline: none;
}

input::placeholder {
  color: black;
  font-size: 15px;
}

.recherche-bouton {
  color: white;
  font-weight: bold;
  background-color: var(--main-color);
  padding: 10px;
  border-radius: 0px 10px 10px 0px;
  border: 0px;
  font-size: 15px;
}

.recherche-bouton-icone {
  display: none;
}

.recherche-bouton-texte {
  display: inline;
}
.filtre {
  font-weight: bold;
  display: flex;
  gap: 20px;
  align-items: baseline;
}

.filtre-liste {
  display: flex;
  gap: 20px;
}

.filtre-type {
  border: 2px lightgrey solid;
  border-radius: 30px 30px 30px 30px;
  padding: 15px;
  margin: 2px;
}

.filtre-type:hover {
  background-color: var(--filter-bg-color);
}

.icone-info {
  border: 1px lightgrey solid;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-right: 10px;
}
.icone {
  display: flex;
  margin-bottom: 20px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
  order: 0;
}
.hebergements-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.hebergements-cards .card {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 30%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.hebergements-cards img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  height: 125px;
}
.hebergements-cards .card-title {
  margin-top: 10px;
  margin-bottom: 2px;
}

.hebergements-cards .card-subtitle {
  margin-bottom: 2px;
}

.hebergements-cards .card-rating {
  margin-bottom: 0px;
}

.hebergements-cards .card-content {
  margin-left: 10px;
}

.afficher {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: 2px;
  font-weight: bold;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
  order: 1;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** Activites ***********/
.activites {
  padding-top: 20px;
  padding-right: 25px;
  padding-left: 25px;
}

.activites-cards {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: center;
}
.activites-cards .card {
  margin-top: 20px;
  padding: 0px;
  flex: 1;
}

.activites-cards img {
  width: 100%;
  height: 380px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activites-cards .card-content {
  height: 15%;
  padding-left: 15px;

  box-sizing: border-box;
}

.activites-cards .card-title {
  margin-top: 15px;
}

/****** Footer ***********/

.pied-de-page {
  margin-top: 50px;
  background-color: var(--main-bg-color);
  display: flex;
  gap: 100px;
}

.pied-de-page li {
  padding-left: 0px;
  list-style-type: none;
  margin-top: 15px;
}

.liste {
  width: 300px;
  padding-left: 20px;
}

.liste-title {
  font-weight: bold;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .filtre {
    flex-direction: column;
    margin-top: 15px;
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
  .activites-cards .card {
    width: 193px;
    height: 270px;
  }
  .activites-cards img {
    height: 200px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* Menu */

  body {
    margin: 0px;
  }
  .main-container {
    padding: 0px;
  }
  nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
  }
  .infos {
    padding-left: 25px;
    padding-right: 25px;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 20px;
  }
  .menu a {
    margin-left: 0px;
    flex: 1;
    text-align: center;
  }
  .menu a:hover {
    border-top: 0px;
    border-bottom: 2px solid #0065fc;
    padding-bottom: 10px;
    margin-bottom: -10px;
    color: var(--main-color);
  }

  .filtre-liste {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .recherche-texte {
    flex: 1; /* Champ texte à 100% */
  }

  .recherche-bouton-icone {
    display: inline;
    color: white;
  }

  .recherche-bouton {
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
  }
  .recherche-bouton-texte {
    display: none;
  }

  /**Populaires**/
  .hebergements-and-populaires section {
    border-radius: 0px;
  }

  .populaires {
    order: 0;
    margin-top: 0px;
    width: 100%;
  }

  .populaires-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .populaires-cards a {
    width: 100%;
  }
  /**Hébergements**/
  .hebergements-and-populaires section.hebergements {
    background-color: transparent;
  }
  .hebergements {
    order: 1;
  }

  .hebergements-cards .card {
    width: 100%;
  }
  .hebergements-cards img {
    width: 100%;
  }

  /**Activites**/
  .activites {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .activites-cards {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
  }

  .activites-cards .card {
    width: 100%;
    height: 100%;
  }
  .activites-cards a {
    width: 100%;
  }
  .activites-cards .card-title {
    margin-top: 10px;
  }
  .activites-cards a {
    flex: 1;
  }

  /**Footer**/
  .pied-de-page {
    flex-direction: column;
    gap: 5px;
  }
}
