/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****Header***/
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

div .menu a {
  text-align: right;
  margin-left: 50px;
}

.menu a:hover {
  border-top: 2px solid #0065fc;
  padding: 2px;
}

.infos {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}

/** Recherche**/
.recherche {
  display: inline-flex;
  gap: 0px;
}

.recherche-icone {
  border-radius: 10px 0px 0px 10px;
  padding: 10px;
  background-color: var(--main-bg-color);
}

.recherche-texte {
  font-weight: bold;
  border-top: 2px var(--main-bg-color) solid;
  border-bottom: 2px var(--main-bg-color) solid;
  padding: 10px;
  border-left: 0px;
  border-right: 0px;
  outline: none;
}

.recherche-bouton {
  color: white;
  font-weight: bold;
  background-color: var(--main-color);
  padding: 10px;
  border-radius: 0px 10px 10px 0px;
  border: 0px;
}

.filtre {
  font-weight: bold;
  display: flex;
  gap: 20px;
  align-items: center;
}

.filtre-type {
  border: 2px lightgrey solid;
  border-radius: 30px 30px 30px 30px;
  padding: 15px;
  margin: 2px;
}

.filtre-type:hover {
  background-color: var(--filter-bg-color);
}

.icone-info {
  border: 1px lightgrey solid;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-right: 10px;
}
.icone {
  display: flex;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements-title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.hebergements-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hebergements-cards .card {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  margin-top: 33px;
  height: 215px;
  width: 225px;
}
.hebergements-cards img {
  width: 100%;
  height: 120px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-cards .card-title {
  margin-top: 10px;
  margin-bottom: 2px;
}

.hebergements-cards .card-subtitle {
  margin-bottom: 2px;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
}

.afficher {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: 2px;
  font-weight: bold;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
